POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_HOST
POSTGRES_PORT
DATABASE_URL

### GLOBALS
PORT

# secret
JWT_SECRET

# GOOGLE
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL

# INSTAGRAM
INSTAGRAM_ACCESS_TOKEN
INSTAGRAM_BASE_URL

#API
API_BASE_URL

# Cloudinary
CLOUD_NAME
CLOUD_KEY
CLOUD_SECRET

RESEND_API_KEY
SENDER_MAIL
